@model LiteCommerce.DomainModels.ChangePass
@{
    ViewBag.Title = "ChangePassword";
}
<div class="box box-primary">
    <form role="form" action="~/Employee/ChangePassword" method="post">
        <div class="box-header text-right">
            <a href="~/Employee">Back to List</a>
        </div>
        <div class="box-body">
            <div class="form-group row">
                <input type="hidden" name="EmployeeID" value="@Model.EmployeeID" />
                <div class="col-sm-6">
                    <label>Email:</label>
                    <input type="text" class="form-control" placeholder="Email" name="Email" value="@Model.Email" readonly>
                </div>
                <div class="col-sm-6">
                    <label>Password:</label>
                    <input type="password" class="form-control" placeholder="Password" name="OldPassWord" value="@Model.OldPassWord" readonly>
                </div>
                <div class="col-sm-6">
                    <label>New Password:<span style="color:red">@Html.ValidationMessage("NewPassWord")</span></label>
                    <input type="text" class="form-control" placeholder="New PassWord" name="NewPassWord" value="@Model.NewPassWord">
                </div>
                <div class="col-sm-6">
                    <label>Enter Again:<span style="color:red">@Html.ValidationMessage("EnterAgain")</span></label>
                    <input type="text" class="form-control" placeholder="EnterAgain" name="EnterAgain" value="@Model.EnterAgain">
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button type="submit" class="btn btn-sm btn-primary">
                    <i class="fa fa-save"></i> Save
                </button>
                <a class="btn btn-sm btn-default" href="~/Employee">
                    Cancel
                </a>
            </div>
        </div>
    </form>
</div>




