@model LiteCommerce.DomainModels.Product
@{
//ViewBag.Title = "Input";
}

<div class="box box-primary">
    <form role="form" action="~/Product/Input" method="post" enctype="multipart/form-data">
        <div class="box-header text-right">
            <a href="~/Product">Back to List</a>
        </div>
        <div class="box-body">          
            <div class="container-fluid m-0 p-0 form-group">
                <div class="row">
                    <div class="col-sm-8 form-group" style="padding : 0px">
                        <input type="hidden" class="form-control" name="ProductID" value="@Model.ProductID">
                        <input type="hidden" class="form-control" name="PhotoPath" value="@Model.PhotoPath">
                        
                        <label>Product Name:<span style="color:red">@Html.ValidationMessage("ProductName")</span></label>
                        <input type="text" class="form-control" placeholder="Enter Company Name" name="ProductName" value="@Model.ProductName">
                        <br />
                        <label>Category Name:<span style="color:red">@Html.ValidationMessage("CategoryID")</span></label>
                        <select class="form-control" name="CategoryID">

                            @foreach (var category in SelectListHelper.Categories())
                            {
                                if (Model.CategoryID.ToString() == category.Value)
                                {
                                    <option value="@category.Value" selected>@category.Text</option>
                                }
                                else
                                { 
                                    <option value="@category.Value">@category.Text</option>
                                }

                            }
                        </select>
                        <br />
                        <label>Supplier Name:<span style="color:red">@Html.ValidationMessage("SupplierID")</span></label>
                        <select class="form-control" name="SupplierID">

                            @foreach (var supplier in SelectListHelper.Suppliers())
                            {
                                if (Model.SupplierID.ToString() == supplier.Value)
                                {
                                    <option value="@supplier.Value" selected>@supplier.Text</option>
                                }
                                else
                                {
                                    <option value="@supplier.Value">@supplier.Text</option>
                                }

                            }
                        </select>
                    </div>
                    <div class="col-sm-4 form-group" style="padding-left:120px;">
                        <img class="img-circle" src="~/Images/Uploads/Products/@Model.PhotoPath" alt="User Avatar" height="100px">
                        <input type="file" class="form-control" placeholder="Enter Photo" name="uploadFile" value="@Model.PhotoPath">
                    </div>
                </div>
            </div>
           
            <div class="form-group row">
                <div class="col-sm-6">
                    <label>Quantity Per Unit:</label>
                    <input type="text" class="form-control" placeholder="QuantityPerUnit" name="QuantityPerUnit" value="@Model.QuantityPerUnit">
                </div>
                <div class="col-sm-6">
                    <label>Unit Price:<span style="color:red">@Html.ValidationMessage("UnitPrice")</span></label>
                    <input type="number" class="form-control" placeholder="UnitPrice" name="UnitPrice" value="@Model.UnitPrice">
                </div>
            </div>
  
            <div class="form-group">
                <label>Descriptions:</label>
                <input type="text" class="form-control" placeholder="Ex: Sale Manager" name="Descriptions" value="@Model.Descriptions">
            </div>

        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button type="submit" class="btn btn-sm btn-primary">
                <i class="fa fa-save"></i> Save
            </button>
            <a class="btn btn-sm btn-default" href="~/Product">
                Cancel
            </a>
        </div>
    </form>
</div>

